{% extends "frame.html" %}
{% block content %}
<div class="phone" ng-app="delivcard">
    <div class="phone__screen">
        <div class="phone__scroll-cont">

                <div class="card rounded">
                    <div class="justify-content-center about-us">
                        <div class="area1 p-3 py-5"> </div>
                        <div class="area2 text-center" style="border-top: 2px solid #900C3E;">
                            <div class="image mr-3"> <img src="{{picture}}" class="rounded-circle" width="100" />
                                <h4 class=" name mt-3 ">{{full_name}}</h4>
                                <p class="information text-justify">{{description}} </p>

                                <div class="justify-content-center mt-5">
                                    <button type="button" class="btn btn-primary" onclick="window.location.href = 'tel:{{phone_number}}';">Call Now</button>
                                    <button type="button" class="btn btn-primary" onclick="window.location.href = 'https://api.whatsapp.com/send?phone={{whatsapp_number}}';">Whatsapp chat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container profile-about mb-3">
                        <h6 class="name mt-3">About</h6>
                        <p class="fz-18">{{abount_content}}</p>
                    </div>
                    <div class="cross-line mb-4"></div>
                    <div class="container contact-details">
                        <h6 class="name mt-3 mb-0">Contact Details </h6>
                        <ul class="contact-list">
                            <li>
                                <div class="left"> 
                                    <span class="fa-stack fa-x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="icon-white fa fa-lock fa-stack-1x"></i>
                                    </span>
                                </div>
                                <div class="right ml-10">
                                    <p class="fz-15">Phone Number</p>
                                    <h3>{{phone_number}}</h3>
                                </div>
                            </li>
                            <li>
                                <div class="left"> 
                                        <span class="fa-stack fa-x">
                                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                            <i class="icon-white fa fa-lock fa-stack-1x"></i>
                                        </span>
                                    </div>
                                <div class="right ml-10">
                                        <p class="fz-15">Address / Location</p>
                                        <h3>{{address}}</h3>
                                </div>
                            </li>
                            <li>
                                <div class="left"> 
                                        <span class="fa-stack fa-x">
                                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                            <i class="icon-white fa fa-lock fa-stack-1x"></i>
                                        </span>
                                    </div>
                                <div class="right ml-10">
                                        <p class="fz-15">Website</p>
                                        <h3><a style="text-decoration:none" href="{{website}}">{{website}}</a></h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% if connect %}
                        <div class="cross-line mb-2"></div>
                        <div class="container">
                            <h6 class="name mt-3 m-3">Connect Us </h6>
                            <div class="row">
                                {% for key in connect %}
                                    <div class="col-md-6">
                                        <div class="left"> 
                                            <a style="text-decoration:none" href="/media/{{key.icon_url}}">
                                                <img src = "/media/{{key.icon_url}}" width=50 />
                                            <span style="padding-left: 15px;">{{key.text_name}}</span>
                                        </div></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="cross-line mb-4 mt-5" style="margin-top: 16px;"></div>
                    <div class="container footer">
                        <div class="text-center">
                            <p>powerd by <a href="http://www.brandface.me">brandface.me</a></p>
                        </div>
                    </div>
                </div>
            
                <div class="text-center mt-3 mb-4">
                    <button type="button" class="btn btn-primary bt-round"><i class="fa fa-download"></i> Save Contact</button>
                    <button type="button" class="btn btn-primary bt-round"><i class="fa fa-share-alt" aria-hidden="true"></i>
                            Share this card</button>
                </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block javascript %}
<script>
    $(document).ready(function() {
        $(".area1").css({
        "background-image": `url({{background}})`,
        });
    })

</script>

{% endblock %}