{% extends "frame.html" %}

{% block stylesheet %}
    <style>
        .service-container{
            padding: 25px !important;
        }
        .service-card{
            margin-bottom:15px;
            padding:15px;
        }
        .service-card .card-img-top{
            padding: 20px;
        }
        .image img {
            box-shadow: 5px 6px 6px 2px #e9ecef;
            border-radius: 23%;
            width: 48%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="phone" ng-app="delivcard">
    <div class="phone__screen">
        <div class="phone__scroll-cont">

                <div class="card rounded">
                    <div class="justify-content-center about-us">
                        <div class="area1 p-3 py-5"> </div>
                        <div class="area2 text-center" style="border-top: 2px solid #900C3E;">
                            <div class="image mr-3"> <img src="{{picture}}" class="rounded-circle" width="100" />
                                <h4 class=" name mt-3 ">{{full_name}}</h4>
                                <p class="information text-justify">{{description}} </p>

                                <div class="justify-content-center mt-5">
                                    <button type="button" class="btn btn-primary" onclick="window.location.href = 'tel:{{phone_number}}';">Call Now</button>
                                    <button type="button" class="btn btn-primary" onclick="window.location.href = 'https://api.whatsapp.com/send?phone={{whatsapp_number}}';">Whatsapp chat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container profile-about mb-3">
                        <h6 class="name mt-3">About</h6>
                        <p class="fz-18">{{abount_content}}</p>
                    </div>
                    <div class="cross-line mb-4"></div>
                    <div class="container contact-details">
                        <h6 class="name mt-3 mb-0">Contact Details </h6>
                        <ul class="contact-list">
                            <li>
                                <div class="left"> 
                                    <span class="fa-stack fa-x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="icon-white fa fa-phone fa-stack-1x"></i>
                                    </span>
                                </div>
                                <div class="right ml-10">
                                    <p class="fz-15">Phone Number</p>
                                    <h3>{{phone_number}}</h3>
                                </div>
                            </li>
                            <li>
                                <div class="left"> 
                                        <span class="fa-stack fa-x">
                                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                            <i class="icon-white fa fa-map-marker fa-stack-1x"></i>
                                        </span>
                                    </div>
                                <div class="right ml-10">
                                        <p class="fz-15">Address / Location</p>
                                        <h3>{{address}}</h3>
                                </div>
                            </li>
                            {% if website %}
                                <li>
                                    <div class="left"> 
                                            <span class="fa-stack fa-x">
                                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                                <i class="icon-white fa fa-globe fa-stack-1x"></i>
                                            </span>
                                        </div>
                                    <div class="right ml-10">
                                            <p class="fz-15">Website</p>
                                            <h3><a style="text-decoration:none" href="{{website}}">{{website}}</a></h3>
                                    </div>
                                </li>
                            {% endif %}
                            {% if user_mail %}
                                <li>
                                    <div class="left"> 
                                            <span class="fa-stack fa-x">
                                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                                <i class="icon-white fa fa-globe fa-stack-1x"></i>
                                            </span>
                                        </div>
                                    <div class="right ml-10">
                                            <p class="fz-15">E-mail</p>
                                            <h3><a style="text-decoration:none" href="mailto:{{user_mail}}">{{user_mail}}</a></h3>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if connect %}
                        <div class="cross-line mb-2"></div>
                        <div class="connect-container container mb-4">
                            <h6 class="name mt-3 m-3">Connect Us </h6>
                            <div class="row">
                                {% for key in connect %}
                                    <div class="col-md-6">
                                        <div class="left"> 
                                            <a style="text-decoration:none" href="/media/{{key.icon_url}}">
                                                <img src = "/media/{{key.icon_url}}" width=50 />
                                            <span style="padding-left: 15px;">{{key.text_name}}</span>
                                        </div></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if service %}
                        <div class="cross-line mb-2"></div>
                        <div class="container service-section">
                            <h6 class="name mt-3 m-3">Products & Services </h6>
                            <div class="row text-center service-container">
                                {% for key in service %}

                                <div class="card border service-card">
                                    <img class="card-img-top" src="/media/{{key.picture}}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{key.tittle}}</h5>
                                        {% if key.description %}
                                            <p class="card-text">{{key.description}}</p>
                                        {% endif %}

                                        <a href="#" class="btn btn-primary" onclick="window.location.href = 'https://api.whatsapp.com/send?phone={{whatsapp_number}}';">Enquiry</a>
                                    </div>
                                  </div>
                                  
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                
                    {% if gallary %}
                        <div class="cross-line mb-2"></div>
                        <div class="container service-section">
                            <h6 class="name mt-3 m-3">Gallary </h6>
                            <div class="row">
                                {% for key in gallary %}
                                    <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
                                        <img
                                            src="/media/{{key.picture}}"
                                            class="w-100 shadow-1-strong rounded mb-4"
                                            alt="Boat on Calm Water"
                                        />
                                    </div>
                                
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}


                    <div class="cross-line mb-4 mt-5" style="margin-top: 16px;"></div>
                    <div class="container footer">
                        <div class="text-center">
                            <p>powerd by <a href="http://www.brandface.me">brandface.me</a></p>
                        </div>
                    </div>
                </div>
            
                <div class="text-center mt-3 mb-4">
                    <button id="downloadEl" type="button" class="btn btn-primary bt-round"><i class="fa fa-download"></i> Save Contact</button>
                    <button type="button" class="btn btn-primary bt-round"><i class="fa fa-share-alt" aria-hidden="true"></i>
                            Share this card</button>
                </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block javascript %}
<script>
    $(document).ready(function() {
        $(".area1").css({
            "background-image": `url({{background}})`,
        });
        $("body").css({
            "background": `#54900C`,
        });
        $(".cross-line").css({
            "background-color": `{{theme_color}}`,
        });
        $(".phone__screen").css({
            "background-color": `{{theme_color}}`,
        });
        $(".image img").css({
            "background-color": `{{theme_color}}`,
            "border-color":`{{theme_color}}`,
        });
        $(".area2.text-center").css({
            "border-top": `2px solid {{theme_color}}` ,
        });

        $(".icon-background").css({
            "color": `{{theme_color}}` ,
        });
    })

</script>
<script>
    'use strict';
    function downloadToFile(content, filename, contentType) {
        const a = document.createElement('a');
        const file = new Blob([content], { type: contentType });

        a.href = URL.createObjectURL(file);
        a.download = filename;
        a.click();

        URL.revokeObjectURL(a.href);
    }

    function previewFile(event) {
        let reader = new FileReader();
        let file = event.target.files[0];

        reader.readAsDataURL(file);
        reader.onloadend = () => (previewEl.src = reader.result);
    }

    const makeVCardVersion = () => `VERSION:3.0`;
    const makeVCardInfo = (info) => `N:${info}`;
    const makeVCardName = (name) => `FN:${name}`;
    const makeVCardOrg = (org) => `ORG:${org}`;
    const makeVCardTitle = (title) => `TITLE:${title}`;
    const makeVCardPhoto = (img) => `PHOTO;TYPE=JPEG;ENCODING=b:[${img}]`;
    const makeVCardTel = (phone) => `TEL;TYPE=WORK,VOICE:${phone}`;
    const makeVCardAdr = (address) => `ADR;TYPE=WORK,PREF:;;${address}`;
    const makeVCardEmail = (email) => `EMAIL:${email}`;
    const makeVCardTimeStamp = () => `REV:${new Date().toISOString()}`;

    function makeVCard() {
        let vcard = `BEGIN:VCARD
        ${makeVCardVersion()}
        ${makeVCardInfo('{{description}}')}
        ${makeVCardName('{{full_name}}')}
        ${makeVCardOrg('{{full_name}}')}
        ${makeVCardTitle('{{full_name}}')}
        ${makeVCardPhoto('/media/{{picture}}')}
        ${makeVCardTel('{{phone_number}}')}
        ${makeVCardAdr('{{phone_number}}')}
        ${makeVCardEmail('{{phone_number}}')}
        ${makeVCardTimeStamp()}
        END:VCARD`;
        downloadToFile(vcard, 'vcard.vcf', 'text/vcard');
    }

    downloadEl.addEventListener('click', makeVCard);
    //fileEl.addEventListener('change', previewFile);

</script>

{% endblock %}